@charset "utf-8";
@import "compass";

* {@include box-sizing(border-box); vertical-align: top;}
body {background:#222222; color:#ffffff; font-family: "Open Sans", sans-serif;}

ul {padding:0; margin:0;}

.wrap {
  width:95%; max-width:1000px; margin:50px auto;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
}

.todoapp{
  margin: 40px auto; padding: 30px; background: #1e1e1e;
  // border: 1px solid #d1d1d1;
  .addnew {padding-bottom:30px;}
  input[type="text"] {
  /* height: 40px; */
  width: 63%;
  padding: 0 10px 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 2em;
  background: none;
  border: none;
  border-bottom: 2px dashed white;
  color: white;
}
  select { height: 55px; width: 20%; -webkit-appearance: menulist-button; border: none; color: #ffffff; margin-right: 1.5%;}
  button { height: 40px; background: #6699ee; color: white; padding:0 2%; margin-bottom:10px;
    border: 1px solid #5588dd; border-bottom: 3px solid #4477cc; border-top: 1px solid #77aaff; border-radius: 5px;
    &[type="submit"]{height: 55px;}
  }
  // .todo {margin: 20px 0;}
}

.todo li, select { padding: 10px; margin-bottom:7px; 
  // border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #2a2a2a; border-radius:15px; list-style: none; background: #222222;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  input { vertical-align: middle; margin-right: 20px;}
  &.done {text-decoration: line-through;}
}

.priority{
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 12px 11px 12px 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  float: right;
  width: 10%;
  display: inline-block;
  margin: -9px -10px;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.high {background:#ee5555;}
.medium {background:#ee9955;}
.low {background:#eecc55;}

.list.ng-enter{-webkit-transition:0.5s opacity; transition:0.5s opacity;}

.animate-enter-slide-up-in {
 &.ng-enter { @include transition(0.2s all); @include opacity(0); @include translateY(20px); }
 &.ng-enter-stagger { @include transition-delay(0.05s); @include transition-duration(0s); }
 &.ng-enter.ng-enter-active { @include opacity(1); @include translateY(0); }
 &.ng-leave { display:none; }
}